* { border: 0; padding: 0; margin: 0; background-color: #262626; color: #ffffff; line-height: 140%; }
	html, body, #container { width: 100%; height: 100%; }
	body { font-size: 16px; font-family: 'LatoLatinWeb'; }
	hr { border-top: 1px solid #c4c0bc; width: 40px; margin: 0.6em 0; }
	a:hover { color: #e2c3fa; }
	h1 { font-size: 40px; font-family: 'LatoLatinWebSemibold'; }
	h2 { font-size: 24px; }
	li { margin-left: 2em; }
	li > ul { margin-bottom: 0.5em; }
	li > i { color: #ffffff; }
	p.small { font-size: 10px; color: #504e4c; }
	p.rate2 a { color: #ffffff; }
	p.rate2 a:hover { color: #e2c3fa; }
	#container { display: flex; justify-content: center; align-items: center; flex-direction: column; margin-top: 15px; margin-right: 0; margin-bottom: 15px; margin-left: 0; } 
	#container > div { text-align: center; margin:  0.6em 0; }
	#header-menu { display: flex; justify-content: center; align-items: center; background-color: #191919; }

	#footer {
		 font-size: 12px;
 		 text-align: center;
 		 background-color: #191919;
 		 color: #e2c3fa;
	}

	#footer p {color: #e2c3fa;}
	
	ul {
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	background-color: #262626;
	}

	.dropbtn {
 	 display: inline-block;
  	 color: #967bb6;
 	 text-align: center;
 	 padding: 14px 16px;
 	 text-decoration: none;
	}

	.dropdown:hover {
 	 background-color: #ffffff;
	}

	.dropdown { 
		position: relative;
		display: inline-block; 
		align-self: left;
	}

	.dropdown-content {
	  display: none;
	  position: absolute;
 	  background-color: #191919;
	  min-width: 160px;
	  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	  z-index: 1;
	}

	.dropdown-content a {
 	 color: #967bb6;
 	 padding: 12px 16px;
 	 text-decoration: none;
 	 display: block;
 	 text-align: left;
	}

	.dropdown-content a:hover { background-color: #f1f1f1; }

	.dropdown:hover .dropdown-content { display: block; }

	.wrapper-main {
		width: 1000px
		padding: 100px 0;
		margin: 0 auto;
	}

	@media (max-width:600px) {
		
	.wrapper-main {
		width: 100%
		}
	}

	@media (min-width:601px) {
		
	.wrapper-main {
		width: 100%
		}
	}

	@media (min-width:768px) {
		
	.wrapper-main {
		width: 100%
		}
	}

	@media (min-width:992px) {
		
	.wrapper-main {
		width: 100%
		}
	}

	@media (min-width:1200px) {
		
	.wrapper-main {
		width: 100%
		}
	}
